<!DOCTYPE html>
<html>
<head>
  <title>sahil dudi</title>
  <style>
     h1{
  font-size: 50px;
  font-family:roboto;
   color: grey;
       text-align:center;
  }
    h2{
      font-family:roboto;
      color: grey;
      text-align:center;
    }
    p{
     font-family:roboto;
      color:blue;
    }
    #dudi{
      width: 100%;
      height:360px;
    object-fit: cover;
    }
    #container{
      max-width: 720px;
      margin:0 auto ;
    }
  </style>
 
</head>
  <body>
    <div id="container">
    <h1>Sahil dudi</h1>
    <img  id="dudi" src="https://career-website.sahildudi.repl.co/static/project2.jpg" >
    <h2>about sahil</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <h2>about project</h2>
 <p>this is my first project</p>
      <div style="text-align:center">
    <button>know more</button>
      </div>
      </div>
  </body>
</html>
  